$SUorange: #F76900;
$SUblue: #000e54;

$color_primary: #1ed760;
$color_gray: #4A4A4A;
$color_orange: #F76900;
$color_blue: #000e54;
$color_light_gray: #EDEDED;

$font_primary: Arial;
$font_secondary: Georgia;