@use '../sass/abstracts/mixins.scss';

.section {
	padding-top: 1rem;
	padding-bottom: 1rem;

	@include mixins.breakpoint(tablet) {
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
	}

	@include mixins.breakpoint(laptop) {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	@include mixins.breakpoint(laptop) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}